
NODE_ENV='development'


# together aiKey
TOGETHER_AI_API_KEY=


FIRE_WORKS_API_KEY=


CEREBRAS_API_KEY=csk-

TAVILY_API_KEY=tvly-dev-
EXA_SEARCH_API_KEY=



# pinecone vector db
PINECONE_API_KEY=
PINECONE_INDEX=my-doc
# Optional
PINECONE_ENVIRONMENT=


COHERE_API_KEY=